<%= form_with(model: link, class: "contents") do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :long_url %>
    <%= form.text_field :long_url, placeholder: "Paste your link here", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
  <% if custom == true %>
  <div class="my-5">
    <%= form.label :slug %>
    <div class="flex items-center w-full mt-2 border border-gray-200 rounded-md shadow">
      <span class="px-3 py-2 text-lg font-medium bg-gray-200">https://mini.url/</span>
      <%= form.text_field :slug, placeholder: "Add your slug e.g brandGG", class: "outline-none px-3 py-2 w-full rounded-md border-white border h-full" %>    
    </div>
  </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
